<ion-view view-title="Phone Contacts" ng-controller="ContactsCtrl as vm">
  <ion-content class="has-header">
	<button class="button button-block button-balanced" ng-click="vm.loadContacts()">Load Contacts</button>	


	<ion-list show-delete="false" can-swipe="true">
		<ion-item ng-repeat="contact in vm.contactList | limitTo: 20 | orderBy:'displayName'">
			{{ contact.displayName }} 
			<p ng-repeat="phoneNumber in contact.phoneNumbers"> {{ phoneNumber.value }}</p>
			<!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
			<ion-option-button class="button-light icon ion-ios-email-outline"></ion-option-button>
			<ion-option-button class="button-light icon ion-ios-person-outline"></ion-option-button>
            <ion-option-button class="button-light icon ion-ios-videocam-outline"></ion-option-button>
            <ion-option-button class="button-light icon ion-ios-telephone-outline"></ion-option-button>
            <ion-option-button class="button-light icon ion-ios-chatbubble-outline"></ion-option-button>
            <ion-option-button class="button-light icon ion-ios-paperplane-outline"></ion-option-button>
            <ion-option-button class="button-light icon ion-ios-star-outline"></ion-option-button>
			
		</ion-item>		 
	</ion-list>

  </ion-content> 
</ion-view>		