<ion-view view-title="Dialogs" ng-controller="DialogsCtrl as vm">
  <ion-content>
    <button class="button button-block button-balanced" ng-click="vm.alert()">Alert</button>
    <button class="button button-block button-balanced" ng-click="vm.confirm()">Confirm</button>
    <button class="button button-block button-balanced" ng-click="vm.prompt()">Prompt</button>
  </ion-content> 
</ion-view>		