<ion-view view-title="Camera" ng-controller="CameraCtrl as vm">
  <ion-content class="has-header">
	<div class="row">
		<div class="col">
			<button class="button button-balanced" ng-click="vm.takePicture()">Take Picture</button>
		</div>
		<div class="col">
			<button class="button button-balanced" ng-click="vm.selectPicture()">Select Picture</button>
		</div>
	</div>
	<div class="card">
		<div class="item item-image">
			<img id="photo" ng-src="{{ vm.image }}">
		</div>
	</div>
  </ion-content> 
</ion-view>	