<ion-view view-title="Network" ng-controller="NetworkCtrl as vm">
  <ion-content class="has-header">
	<button class="button button-block button-balanced" ng-click="vm.network()">Am I online?</button>

  	<h3>Is Online ? {{ vm.isOnline }}</h3>
  	<h3>is Offline ? {{ vm.isOffline }}</h3>
  </ion-content> 
</ion-view>		