<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>
      <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear">
            <i class="ion-arrow-left-c"></i> Back
        </ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>
      </ion-nav-bar>

      <ion-nav-view animation="slide-left-right" name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
  	  <header class="bar bar-header bar-assertive">
  	  	  <h1 class="title">Left Menu</h1>  	  	  
  	  </header>
  	  	<ion-content class="has-header">
  	  		<ion-list>
            <ion-item nav-clear menu-close ui-sref="plugin.camera">Camera</ion-item>
            <ion-item nav-clear menu-close ui-sref="plugin.contacts">Contacts</ion-item>
  	  			<ion-item nav-clear menu-close ui-sref="plugin.dialogs">Dialogs</ion-item>  	  			
            <ion-item nav-clear menu-close ui-sref="plugin.device">Device</ion-item>
            <ion-item nav-clear menu-close ui-sref="plugin.network">Network</ion-item>
            <ion-item nav-clear menu-close ui-sref="plugin.contacts">Phone Contacts</ion-item>
            <ion-item nav-clear menu-close ui-sref="plugin.vibration">Vibration</ion-item>
  	  		</ion-list>    
  	  	</ion-content>
  </ion-side-menu>
  
</ion-side-menus>