<ion-view view-title="Device Info" ng-controller="DeviceCtrl as vm">
  <ion-content class="has-header">
	<button class="button button-block button-balanced" ng-click="vm.deviceModel()">Device Model</button>
	<button class="button button-block button-balanced" ng-click="vm.devicePlatform()">Device Platform</button>
	<button class="button button-block button-balanced" ng-click="vm.deviceUUID()">Device UUID</button>
	<button class="button button-block button-balanced" ng-click="vm.deviceVersion()">Device Version</button>
	<button class="button button-block button-balanced" ng-click="vm.cordovaVersion()">Cordova Version</button>
	<button class="button button-block button-balanced" ng-click="vm.deviceInfo()">Device Info</button>

	{{ vm.results }}
  </ion-content> 
</ion-view>		