<ion-view view-title="Vibration" ng-controller="VibrationCtrl as vm">
  <ion-content class="has-header">
    <button class="button button-block button-balanced" ng-click="vm.vibrate()">Vibrate</button>
  </ion-content> 
</ion-view>		